.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
}

h1{
    font-size: 3rem;
    font-weight: 700;
}

body{
  font-family: "Montserrat", serif;
}



  /* breadcrumb satrt */
  .breadcrumb{
    background:url('./assets/breadcrumb.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }


.heloo{
color:#1d1d1d;
background-color:#5bbcf8;
}

.btn{
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-image: linear-gradient(126deg, #028CF3 20%, #74F1C5 100%);
  border-style: double;
  border-width: 2px 1px 1px 1px;
  border-color: #028CF3;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}
.btn1{
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-image: linear-gradient(126deg, #028CF3 20%, #74F1C5 100%);
  border-style: double;
  border-width: 1px;
  /* border-color: #1191f3; */
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
}
.btn2{
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-image: linear-gradient(126deg, #028CF3 20%, #74F1C5 100%);
  border-style: double;
  border-width: 1px;
  border-color: #1191f3;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}
.sdw{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}