.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
}

h1{
    font-size: 3rem;
    font-weight: 700;
}

body{
  font-family: "El Messiri", serif;
}

/* p{
    font-size: 1.1rem;
    color:rgb(205, 207, 209)
} */

/* Custom Pagination Dots */
.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #777777;
  border-radius: 50%;
  opacity: 1;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: rgb(246, 247, 248);
  transform: scale(1.3);
}

.swiper-button-next, .swiper-button-prev {
    color: #fafaf8 !important;
    font-size: small !important;
}


/* .animat{
    animation: feature-border 2s infinite;
}
@keyframes feature-border {
    0% {
      .first{
        color: #f1c40f;
        border: 2px solid #f1c40f;
      }
    }
    25% {
        .second{
            border: 2px solid #f1c40f;
          }
    }
    50% {
        .third{
            border: 2px solid #f1c40f;
          }
    }
    100% {
      
    }
  } */

  /* breadcrumb satrt */
  .breadcrumb{
    background:url('../public/breadcrumb.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
